<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>I'm an analytical and empathetic Technical Support Engineer with deep experience in the general SaaS and e-commerce spaces. I enjoy solving complex problems and learning new technologies. I aspire to one day be able to perform full-stack development tasks and this portfolio site is my first attempt at something like that. To get this site going, I followed along in and learned from a Udemy course titled <em><a href='https://www.udemy.com/share/101Xzc3@4ma7Syf9ArKAnTirsTmM1tUxdY2NmwIOmYAu-47KvLMwoAKcZxwGtXDFG6mfeovqAg==/'>Dissecting Ruby on Rails 5 - Become a Professional Developer</a></em>.</p>
  </div>
  
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href='https://github.com/ralph734c' target="_blank"><%= fa_icon "github" %></a></li>
      <li><a href='https://www.linkedin.com/in/ralph734c/' target="_blank"><%= fa_icon "linkedin" %></a></li>
    </ol>
  </div>
</div>