<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">I stared this journey learning Ruby on Rails and it has started to expand into a few other technologies as well. As my skills grow and improve, so will the projects listed here (ideally.)</p>
    <p>
      <%= link_to 'Learn more about me', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'Contact me to partner on a project!', contact_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>