<h1>About Me</h1>

<hr>

<p>While I am newer to the world of software and web development, I've worked in various support capacities for a couple of different Software as a Service (SaaS) companies; have observed the many pieces of the software development lifecycle. My most recent role was as a part of a Technical Support Engineering Team where I decided to start learning how to become a developer in addition to the ability to simply read code. I hope to one day take on various side projects to build my portfolio in addition to my own hobby projects. Once I'm able to take on projects, I will communicate thoroughly throughout the process.</p>
