<div class="inner cover">
  <h1 class="cover-heading">Welcome!</h1>

  <hr>
  
  <p class="lead">This is my portfolio site and I built this through a Ruby on Rails course I'm currently taking. Eventually, I'll have personal projects to showcase through this site.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>